@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src:url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src:url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

 /* Header */

.page-header {
  color: #000000;
  background: #ffffff;
}

.page-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.user-link {
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.like {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #7DB54F;
  padding: 5px;
}

.user-link-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

/* Main */

.welcome {
  text-align: center;
}

.main-hero {
  background-image: url("../images/background/welcome-background.jpg");
  background-repeat: no-repeat;
  height: 485px;
  position: relative;
}

.main-hero::after {
  content: url("../images/background/welcome-decoration.svg");
  position: absolute;
  bottom: -4px;
  left: 0;
}

.welcome-image {
  position: absolute;
  top: 51px;
  left: 371px;
}

.welcome-subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.welcome-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
