@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.button {
  padding: 8px 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.label-info {
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 10px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

 /* Header */

.navigation {
  display: flex;
  padding: 0 70px;
  align-items: center;
}

.logo {
  align-self: flex-start;
  margin-right: 30px;
}

.page-header-logo {
  display: block;
}

.page-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: auto;
  list-style-type: none;
}

.page-link {
  display: block;
  padding: 16px 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.page-link-active {
  border-bottom: 2px solid #756257;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-link {
  display: block;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
}

/* Section hero */

.hero {
  text-align: center;
}

.hero-main {
  padding: 50px 70px 80px;
  background-color: #777777;
  background-image: url("../images/background/icon-decoration.svg"), url("../images/background/hero-back.jpg");
  background-position: center bottom, center;
  background-repeat: no-repeat, no-repeat;
}

.hero-info {
  padding: 69px 70px 90px;
}

.hero-subtitle {
  margin: 0 0 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hero-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/* Section advantages */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.advantages-item-group {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-item-group .advantages-description {
  color: inherit;
}

.block-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  padding: 80px 85px;
}

.block-bg {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-subtitle {
  margin: 0 0 62px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  color: #333333;
}

/* Section service */

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.service-subtitle {
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.service-description {
  margin: 0;
  color: #333333;
}

/* Section hotel-search */

.hotel-search {
  text-align: center;
  padding: 96px 70px;
}

.hotel-search-subtitle {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-search-description {
  margin: 0 0 54px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.hotel-search-link {
  display: block;
  width: 376px;
  margin: 0 auto;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

/* Section subscription*/

.subscription {
  padding: 96px 70px;
  text-align: center;
}

.subscription-with-back {
  background-color: #777777;
  background-image: url("../images/background/subscribe-back.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscription-title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-text {
  margin: 0 0 54px;
  font-size: 22px;
  line-height: 26px;
}

.subscription-field {
  padding: 12px 20px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscription-button {
  min-width: 232px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border: none;
  border-radius: 0 4px 4px 0;
}

/* Section footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-item {
  width: 48px;
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
}

.contacts-link {
  padding: 5px 10px;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.academy-link {
  padding: 8px 10px;
  align-self: center;
}

.academy-logo {
  display: block;
}

/* Section container-filter */

.container-filter {
  padding: 35px 70px 70px;
  color: #ffffff;
  background-color: #777777;
  background-image: url("../images/background/catalog-back.jpg");
  background-repeat: no-repeat;
}

.main-inner-header {
  margin-bottom: 40px;
}

.list-filter {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  margin-right: 28px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}

/* Ð¡ontent-filter */

.content-filter-container {
  display: flex;
}

.group-filter {
  margin: 0;
  padding: 0;
  border: none;
}

.group-filter:not(:nth-child(2)) {
  margin-right: 70px;
}

.group-filter:nth-child(2) {
  margin-right: auto;
}

.title-filter {
  margin-bottom: 30px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.item-filter {
  margin-bottom: 16px;
}

.item-filter:last-child {
  margin-bottom: 0;
}

.control {
  font-weight: 400;
  line-height: 23px;
}

.price-filter {
  display: flex;
  align-items: flex-start;
}

.price {
  width: 143px;
  line-height: 24px;
  font-weight: 700;
  border: none;
}

.button-filter {
  width: 191px;
  margin-top: auto;
}

.button-submit {
  display: block;
  width: 100%;
  margin-bottom: 32px;
  background-color: #82B3D3;
}

.button-reset {
  display: block;
  width: 100%;
  background-color: inherit;
}

/* select-hotel */

.select-hotel {
  padding: 50px 70px 60px;
}

.select-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.found-hotel {
  margin: 0;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  margin-right: 70px;
  padding: 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.view-item {
  margin-right: 8px;
}

.view-item:last-child {
  margin-right: 0;
}

.button-view {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: -20px 0 80px -20px;
  padding: 0;
  list-style-type: none;
}

.card-hotel {
  padding: 19px;
  margin: 20px 0 0 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  color: #333333;
}

.link-hotel {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.link-more {
  text-decoration: none;
  background-color: #756157;
}

.button-secondary {
  background-color: #82B3D3;
}

.button-accent {
  background-color: #7DB54F;
}

/* Pagination */

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  min-width: 60px;
  margin-right: 8px;
}

.pagination-link {
  display: block;
  padding: 12px 5px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-active {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-more {
  display: block;
  padding: 20px 0;
  text-align: center;
  color: #000000;
  background-color: transparent;
}
